<h1>Add New Entry</h1>

<%= form_with(model: [ @place, @entry ], local: true) do |form| %>
  <div>
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>
    <br> <!-- Space -->
  <div>
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>
    <br> <!-- Space -->
  <div>
    <%= form.label :posted_on %>
    <%= form.date_field :posted_on %>
  </div>
    <br> <!-- Space -->
  <div>
    <%= form.submit %>
  </div>
<% end %>

  <br> <!-- Space -->

<%= link_to 'Back', place_entries_path(@place) %>